* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  }

body {
background: #0f172a;
color: white;
}

/* NAVBAR */
nav {
display: flex;
justify-content: space-between;
padding: 15px 40px;
position: fixed;
width: 100%;
background: #0f172a;
}

nav a {
margin-left: 20px;
text-decoration: none;
color: white;
}

nav.scrolled {
background: black;
}

/* HERO */
.hero {
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/* SECTIONS */
.section {
padding: 80px 40px;
text-align: center;
}

/* PROJECT CARD */
.project-card {
margin: 20px;
padding: 20px;
background: #1e293b;
border-radius: 10px;
transition: 0.3s;
}

.project-card:hover {
transform: scale(1.05);
}

/* FORM */
form {
display: flex;
flex-direction: column;
gap: 10px;
}

input, textarea {
padding: 10px;
border: none;
border-radius: 5px;
}

button {
padding: 10px;
background: #3b82f6;
color: white;
border: none;
}

/* CURSOR GLOW */
#cursorGlow {
position: fixed;
width: 20px;
height: 20px;
background: #3b82f6;
border-radius: 50%;
pointer-events: none;
}
